.body{
  margin: 0px;
  padding: 0px;
  
}
.firstSection{
  display: inline-flex;
  max-width: 100%;
  max-height: 700px;
}
.vertical-Line{
  width: 4px;
  margin-top: 40px;
  margin-left: 100px;
  height: 105px;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border-radius: 7px;
  margin-right: -25px;
}
.heading1{
  width: 640px;
  margin-left: 50px;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  color: 	rgb(21, 31, 31);
  padding-left: 5px;
  margin-left: 30px;
  font-weight: 900;
}
#next-line{
  color:#DC143C;
}
#welcomeText{
  width: 400px;
  font-size: 15px;
  font-family: 'Merriweather', serif;
  font-weight: 200;
  margin-left: -13px;
  color: rgb(51, 51, 51);
}
.linkButton{
  margin-left: -15px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: honeydew;
  background: linear-gradient(to bottom, #cc0e00d3 0%, #ff0066 100%);
  border-radius: 5px;
  padding: 7px 15px;

}
#scroll{
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  margin-left: -13px;
  color: rgba(12, 11, 11, 0.945);
}
.leftPart{
  width: 900px;
  display: inline-flex;
  margin-top: 50px;
  margin-left: 40px;
}
.person-image{
  margin-right: 110px;
}
#profilePic{
  height: 450px;
  margin-right: 35px; 
}
#heading2{
  margin-top: 40px;
  text-align: center;
  font-size: 25px;
  font-family: 'Merriweather', serif;
  color: rgb(52, 10, 82);
  font-weight: 600;
}
#year{
  color: darkorchid;
}
.contents{
  display: inline-flex;
  max-width: 100%;
  margin-top: 15px;
}
.mission{
  width: 320px;
  height: 300px;
  background-color: rgb(175, 217, 229);
  margin-left: 150px;
  border-radius:  15px; ;
}
.illustrations{
 height: 100px;
 margin-top: 10px;
 
}
.vision{
  width: 320px;
  height: 300px;
  background-color: rgb(177, 230, 177);
  margin-left: 40px;
  border-radius:  15px; ;
}
.goal{
  width: 320px;
  height: 300px;
  background-color: rgb(241, 204, 210);
  margin-left: 40px;
  border-radius:  15px;
  
}
.miss-vis-goal{
  margin-left: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 20px;
}
.box-texts{
  margin-left: 20px;
  margin-right: 10px;
  color: rgb(21, 29, 29);
  font-family: sans-serif;
  font-size: 15px;
}

.thirdSection{
  max-width: 100%;
  margin-top: 100px;
  display: inline-flex;
}

#codingPic{
  height: 300px;
  margin-left: 145px;
}

.thirdHeading{
  font-family: 'Merriweather', serif;
  margin-left: 100px;
}
.third-title{
  font-size: 25px;
}
.thirdHeadingText{
  width: 650px;
  color: rgb(26, 24, 24);
}
.thirdHeadingButton{
  margin-left: 15px;
}
.fourthSection{
  margin-top: 100px;
  display: inline-flex;
}
  
#projectPic{
  height: 300px;
  width: 350px;
  margin-left: 280px;
}
.fourth-Sec-title{
  font-family: 'Merriweather', serif;
  margin-left: 140px;
  width: 400px;
}
.linkButton3
{
  margin-left: -1px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: honeydew;
  background: linear-gradient(to bottom, #cc0e00d3 0%, #ff0066 100%);
  border-radius: 5px;
  padding: 7px 15px;
}

.section5{
  width: 100%;
  display: inline-flex;
 }
 

.web-dev{
  height: 380px;
  width: 350px;
  margin-left: 145px;
  margin-top: 150px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.first-part{
  height: 30px;
  margin-left: 180px;
  margin-top: 180px;
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 900;
  font-family: 'Merriweather', serif;
}
.second-part{
  color: #f1176e;
}
.head5text
{
    width: 400px;
    margin-left: 180px;
    height: 100px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: rgb(22, 19, 19);
}
.linkButton5{
  margin-left: 180px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  color: honeydew;
  background: linear-gradient(to bottom, #cc0e00d3 0%, #ff0066 100%);
  border-radius: 5px;
  padding: 7px 15px;
}
.footer{
  margin-top: 10px;
  background-color: rgb(5, 5, 5);
  width: 100%;
  height: 155px;
}
.footer-heading{
  color: cornsilk;
  font-family: 'Merriweather', serif;
  text-align:center;
  font-size: 30px;
  font-weight: 800;
}

.footer-year{
  color: #ff0066;
}

.footer-text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: beige;
  text-align: center;
  margin-top: -10px;
}